---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Stephanie Honore's Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a Senior Software Engineer with over 6 years of software industry
    experience that is a results-driven problem solver with a passion for
    creating efficient and innovative solutions. I do full-stack web and mobile
    software development, with experience in a variety of tools and languages
    such as .NET Core (C#), JavaScript (React, React Native, Svelte, NodeJS,
    NextJS), MongoDB Atlas, SQLServer, Azure, GCP and AWS. I also have a
    background in data science (Python, Jupyter Notebook, Tenorflow, Keras) and
    in my free time I am focused on building machine learning models. I am a
    team player who thrives in a fast-paced and dynamic environment. My strong
    technical skills, coupled with my ability to influence and communicate
    effectively with both technical and non-technical stakeholders, allows me to
    bridge the gap between business requirements and technical solutions. I
    enjoy mentoring others and helping them achieve success. I am currently
    pursuing a degree in International Security at Harvard Extension School,
    where I am gaining a deeper understanding of global security and
    cybersecurity issues and how they impacts the private sector. This knowledge
    is helping me to design and implement more secure systems that protect our
    customers' personal and financial information.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Harvard Extension School - International Security Graduate Certificate"
      subtitle="2023 to present"
      desc="The study of the different diciplines of intelligence and how it is used in the policy process. Also, they study of cyberspace and how it impacts our security nationally and internationally."
    />
    <TimeLineElement
      title="University of Tennessee - Chattanooga - M.S. Computer Science"
      subtitle="2015-2018"
      desc="Course work included cloud computing, digital forensics, AI and machine learning, cybersecurity, application development, and data science"
    />
    <TimeLineElement
      title="University of Tennessee - Knoxville - B.S. Animal Science"
      subtitle="2010-2014"
      desc="Pre-veterinarian track included science-heavy courses such as organic chemistry, biochemistry, animal anatomy and physiology, reproductive health, genetics. Also, studied agricultural economics, statistics, calculus, poultry science, and sheep science."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Senior Software Engineer @ Alaska Airlines"
      subtitle="From June 2022 to present, Austin, TX"
      desc="Full-stack software engineer working with scrum team on our e-commerce web platform (https://alaskaair.com). Working closesly with product team and UX team to reduce cost and generate revenue while also being compliant to aviation industry requirements.Responsible for maintain a high quality code-base, mentoring junior employees, QA testing. Vice chair of the Women in Technology business resource group. Collaborating with cyber team and privacy team to ensure information security and data privacy best practices. Member of the machine learning guild."
    />
    <TimeLineElement
      title="Software Engineer @ Keller Williams Realty Inc."
      subtitle="From July 2021 to June 2022, Austin, TX"
      desc="Full-stack software engineer working on our consumer mobile (https://kw.com) and web app (KW mobile app). Working with international offshore team for the KW Worldwide department. Responsibilities include maintaing code-bases, on-boarding new team members, discovery & demos with potential vendors, working with 3rd-party vendors for localization/translations of content. I was also Vice Chair of the Black Employee Resource group where I assisted in the creation of the organization charter and negotiated terms with our HR department."
    />
    <TimeLineElement
      title="Lead Software Engineer @ Deloitte"
      subtitle="From Jan 2020 to June 2021, Austin, TX"
      desc="Full-stack software engineer working in our government and public sector division focused on serving federal clients. Responsbile for building e-discovery solutions that integrated with 3rd party vendors."
    />
    <TimeLineElement
      title="Software Engineer @ Usio"
      subtitle="From Aug 2019 to Jan 2020, Austin, TX"
      desc="Full-stack software engineer working with small team on our mobile and web platforms for the prepaid card solution (https://www.akimbocard.com/usio/)."
    />
    <TimeLineElement
      title="Front-end Software Engineer @ Unum"
      subtitle="From Aug 2019 to Jan 2020, Chattanooga, TN"
      desc="Front-end software engineer working with team on our mobile and web platform for customer onboarding app. Also, did POC work with Salesforce platform and chatbots."
    />
    <TimeLineElement
      title="Application Developer @ BlueCross BlueShield of Tennessee"
      subtitle="From Aug 2017 to Dec 2018, Chattanooga, TN"
      desc="Served as team product owner, business analyst, and project manager (projects < 500 hours). Maintained multiple product backlogs, kickstarted UX design process with engineers, onboarded and mentored junior employees and peformed database queries for entity research. In addition, I lead scrum ceremonies and stakeholder priority meetings."
    />
    <TimeLineElement
      title="Intern @ BlueCross BlueShield of Tennessee"
      subtitle="From Mar 2017 to Aug 2017, Chattannooga, TN"
      desc="Worked with team product owner to create user stories, elicit business requirements, and lead scrum ceremonies. Also, fixed bugs in .NET MVC application. "
    />
    <TimeLineElement
      title="Intern @ Codescience"
      subtitle="From Jan 2016 to Oct 2016, Chattanooga, TN"
      desc="Created a marketing research report from Google Analytics and Hubspot data, trained on Salesforce trailheads, and organized and served as as the UX designer for a small scrum team to build a Force.com app."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.efset.org/cert/DxtNKG" target="_blank">
        EF SET English Certificate 74/100 (C2 Proficient)</a
      >
    </li>
    <li>
      <a
        href="https://certiprof.com/pages/scrum-foundation-professional-certificate-sfpc-en-sp"
        target="_blank"
      >
        Scrum Foundation Professional Certificate (SFPC)</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>JavaScript</li>
    <li>.NET Core (C#)</li>
    <li>Svelte</li>
    <li>React</li>
    <li>React Native</li>
    <li>SQL Server</li>
    <li>CSS</li>
    <li>SASS</li>
    <li>HTML</li>
    <li>Node.js</li>
    <li>MongoDB Atlas</li>
    <li>AWS</li>
    <li>GCP</li>
    <li>Azure</li>
    <li>Material UI</li>
    <li>Bootstrap</li>
    <li>Azure DevOps</li>
    <li>JQuery</li>
    <li>Git</li>
    <li>Jira</li>
    <li>BaseCamp</li>
    <li>Scrum</li>
    <li>Logo Design</li>
    <li>Image Manipulation</li>
    <li>Adobe XD</li>
    <li>Figma</li>
  </ul>
</BaseLayout>
